In [18]:
import pandas as pd

In [19]:
custos_df = pd.read_csv("resultados/resultados_custo.csv")
custos_df.head()

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A.txt,n500m10_A
0,1,3,2,1060.0,741.0,1218.0,1189.0,951.0,970.0,1597.0,1861.0,1356.0,1488.0,555.0,719.0,8813.0,8193.0,9999.0,9999.0
1,5,8,4,780.0,696.0,1222.0,1105.0,886.0,838.0,1590.0,1796.0,1210.0,1198.0,430.0,647.0,7480.0,8563.0,7341.0,6552.2
2,10,16,4,788.0,704.0,1078.0,1113.3,813.0,902.0,1497.0,1646.0,1442.0,1238.0,536.3,626.0,7448.6,7415.0,9999.0,9999.0

In [20]:
print("Custo médio de todas as instancias:")
aux_df = custos_df.iloc[:, 3:]
n, _ = aux_df.shape
for i in range(0, n):
    # desconsiderando os dois ultimos valores
    print(f"GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {aux_df.iloc[i, :-2].mean()}")

Custo médio de todas as instancias:
GRAPS:   3, ILS:   2, 2193.6428571428573
GRAPS:   8, ILS:   4, 2031.5
GRAPS:  16, ILS:   4, 1946.2285714285713

In [21]:
construcao_df = pd.read_csv("resultados/resultados_construcao.csv")
construcao_df.head()

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A.txt,n500m10_A
0,1,0,0,1247.0,741.0,1813.0,1257.0,951.0,1653.0,2333.0,2306.0,2000.0,1613.0,655.0,922.0,10375.0,8776.0,9999.0,9999.0
1,5,0,0,917.0,755.0,1480.0,1790.8,926.0,1003.0,2316.0,1796.0,1498.0,1198.0,638.8,989.0,8627.4,9578.0,9411.2,7372.0
2,10,0,0,952.0,870.0,1440.0,1240.6,1079.0,1212.2,1956.5,2458.5,1678.0,1640.7,600.6,834.0,9796.7,10240.2,9999.0,9999.0

In [22]:
print("Custo Construcao médio de todas as instancias:")
aux_df = construcao_df.iloc[:, 3:]
n, _ = aux_df.shape
for i in range(0, n):
    # desconsiderando os dois ultimos valores
    print(f"GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {aux_df.iloc[i, :-2].mean()}")

Custo Construcao médio de todas as instancias:
GRAPS:   3, ILS:   2, 2617.285714285714
GRAPS:   8, ILS:   4, 2393.785714285714
GRAPS:  16, ILS:   4, 2571.3571428571427

In [23]:
tempos_df = pd.read_csv('resultados/resultados_tempo.csv')
tempos_df.head()

,exec_max,Iter_GRASP,Iter_ILS,n10m2_A,n10m2_B,n15m3_A,n15m3_B,n15m4_A,n15m4_B,n29m4_A,n29m4_B,n29m6_A,n29m6_B,n40m5_A,n40m5_B,n52m5_A,n52m5_B,n450m16_A.txt,n500m10_A
0,1,3,2,0.003977,0.000000,0.005596,0.006069,0.004005,0.005626,0.012650,0.012031,0.021676,0.008071,0.024002,0.024160,0.033931,0.036196,9999.000000,9999.000000
1,5,8,4,0.007145,0.013178,0.018017,0.018778,0.016230,0.015558,0.061239,0.035637,0.047259,0.031013,0.118062,0.078883,0.126460,0.127378,10.288483,11.344789
2,10,16,4,0.008663,0.016561,0.021257,0.023490,0.024112,0.028939,0.074713,0.085912,0.087692,0.076468,0.145512,0.162800,0.260618,0.284789,9999.000000,9999.000000

In [24]:
print("Tempo médio de todas as instancias:")
aux_df = tempos_df.iloc[:, 3:]
n, _ = aux_df.shape
for i in range(0, n):
    # desconsiderando os dois ultimos valores
    print(f"GRAPS: {custos_df.iloc[i, 1]:>3}, ILS: {custos_df.iloc[i, 2]:>3}, {aux_df.iloc[i, :-2].mean()}")

Tempo médio de todas as instancias:
GRAPS:   3, ILS:   2, 0.014142142857142857
GRAPS:   8, ILS:   4, 0.05105978571428571
GRAPS:  16, ILS:   4, 0.09296614285714286